.homepage {
    background-color: rgb(104, 104, 104);
    color: rgb(240, 234, 234);
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.paragraph {
    font-size: 30px;
    text-align: justify;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(89, 89, 243);
}

.foot {
    background-color: rgb(90, 87, 87);
    color: aliceblue;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}